<html lang="en">
  <head>
     <title>StanDrop</title>
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
   <link rel="stylesheet" href="../../assets/css/main.css">
  </head>
  <body>
  

    <br/>
       {{{body}}}
  </body>


</html>
