<head>
  <!-- Custom styles for this template -->
 <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body>


  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/loggedinhomeadmin">StanDrop</a>


    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" href="/logservicesadmin">Services <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/logaboutusadmin">About Us <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/logcontactusadmin">Contact Us <span class="sr-only">(current)</span></a>
        </li>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/commentadmin">Comment <span class="sr-only">(current)</span></a>
        </li>

      </ul>
    </div>
  </nav>

<br/>
  <br/>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Hello Admin</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/admin_dashboard">My Dashboard</a>

<a class="btn btn-outline-primary" href="/logout">Logout</a>
    </nav>

  </div>
<br/>
<br/>
  <section id="services">
    <div class="container">
      <div class="section-header">
        <h2>Services</h2>
        <p>Life is too short to waste time on day to day work which are important yet time consuming. You can get more done in less time, our platform connects you with skilled taskers to help you with odd jobs so that you can be more productive each day.</p>
      </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="box wow fadeInLeft">
            <div class="icon"><i class="fa fa-bar-chart"></i></div>
            <h4 class="title"><a href="">Line Stander</a></h4>
            <p class="description">We will send a line stander to stand in line for you. So, you can come an hour before the store opens and replace the person. Without the pain of standing in line you get the luxury of shopping just by spending few extra bucks.</p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box wow fadeInRight">
            <div class="icon"><i class="fa fa-picture-o"></i></div>
            <h4 class="title"><a href="">PickUp/Drop</a></h4>
            <p class="description">We will deliver a parcel or any personal item for you from source location to destination location (within the same city). Charges will be optimum depending upon the size of parcel and distance between soure and destination.</p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box wow fadeInLeft" data-wow-delay="0.2s">
            <div class="icon"><i class="fa fa-shopping-bag"></i></div>
            <h4 class="title"><a href="">Handyman</a></h4>
            <p class="description">we will send a skilled handyman with all tools needed to help you to complete your household task, you don’t have to worry he will do all the heavy lifting for you and complete the task perfectly and efficiently for you.</p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box wow fadeInRight" data-wow-delay="0.2s">
            <div class="icon"><i class="fa fa-map"></i></div>
            <h4 class="title"><a href="">To-Do List</a></h4>
            <p class="description">You can provide us with the list of task that need to be done and we will do it for you. List can be long or short depending upon your need. Charges will be optimum depending upon the size of the list.</p>
          </div>
        </div>

      </div>

    </div>
  </section>
</body>
